[Unit]
Description=ydotool autostart service
After=multi-user.target

[Service]
ExecStart=ydotoold
Type=oneshot

[Install]
WantedBy=multi-user.target
